@model e_commerce_internship.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <div class="title-left">
            <h3><a data-toggle="collapse" href="#formRegister" role="button" aria-expanded="true" class="">Şifre Güncelle</a></h3>
        </div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "col-sm-6 col-lg-6 mb-3" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputEmail1" class="mb-0">Eski Şifre</label>
                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label for="InputEmail1" class="mb-0">Yeni Şifre</label>
                    @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    <label for="InputPassword1" class="mb-0">Yeni Şifre Tekrar</label>
                    @Html.PasswordFor(model => model.ReNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn hvr-hover">Şifreyi güncelle</button>
        }
    </div>
</div>

